body {
  max-width: 90%;
}

#title {
  font-size: 1.1em;
  margin: 5px 0;
}

#title .stats {
  font-size: 0.8em;
  float: right;
  margin: 0 10px;
}

#listing {
  font-size: 1.1em;
}

#listing h1 {
  font-size: 1.1em;
}

.folderup {
  color: #FFCA28;
  font-size: 1.4em;
  font-weight: bold;
}

.incomplete {
  color: #ff0000;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#post-listing {
  display: flex;
  flex-direction: column;
}
